<h1>FANTOM CAT</h1>

<div class="col-sm-8 col-sm-offset-2 img-responsive">
  <svg class="banner" viewBox="0 0 482 301">
    <!-- symbol id="home" -->

      <circle cx="68" cy="236" r="43" fill="#e9c6c5"/>
      <circle cx="68" cy="236" r="43" fill="none" stroke="#C8665F" stroke-width="6" stroke-miterlimit="10" stroke-linejoin="round"/>
      <circle cx="235" cy="97" r="68" fill="#C7D6EA"/>
      <circle cx="235" cy="97" r="68" fill="none" stroke="#6794CA" stroke-width="6" stroke-miterlimit="10" stroke-linejoin="round"/>
      <circle cx="397" cy="238" r="43" fill="#DEE9C8"/>
      <circle cx="397" cy="238" r="43" fill="none" stroke="#ABC66A" stroke-width="6" stroke-miterlimit="10" stroke-linejoin="round"/>
      <a transform="translate(0 0)" xlink:href="#/genes" ng-href="#/genes" uib-tooltip-html="::$root.strings.landing_main_gene" tooltip-append-to-body="true">
        <text transform="translate(194 108)" font-size="32" font-family="HelveticaNeue-CondensedBold" fill="#3e5f92">
          Genes
        </text>
      </a>
      <a transform="translate(0 0)" xlink:href="#/traits" ng-href="#/traits" uib-tooltip-html="::$root.strings.landing_main_trait" tooltip-append-to-body="true">
        <text transform="translate(50 243)" font-size="18" font-family="HelveticaNeue-CondensedBold" fill="#913635">
          Traits
        </text>
      </a>
      <a transform="translate(0 0)" xlink:href="#/ontologies" ng-href="#/ontologies" uib-tooltip-html="::$root.strings.landing_main_cell" tooltip-append-to-body="true">
        <text transform="translate(365 245)" font-size="16" font-family="HelveticaNeue-CondensedBold" fill="#506327">
          Ontologies
        </text>
      </a>
      <path d="M145.577 134.113h26.983v26.985l-6.746-6.746-40.73 40.728 6.747 6.746h-26.98v-26.982l6.746 6.745 40.73-40.73m215.724 31.264v26.982h-26.985l6.747-6.744-40.73-40.728-6.745 6.744v-26.984h26.983l-6.746 6.746 40.73 40.73" fill="#CBCBCB"/>
      <path fill="#D6CDE1" d="M325.52 215.316l19.08 19.08-19.08 19.083v-9.543H138.335v9.54l-19.08-19.082 19.08-19.08v9.54H325.52"/>
      <text uib-tooltip-html="::$root.strings.landing_main_trait_cell_enrich" tooltip-append-to-body="true" font-size="14" x="198.393" y="239.28" font-family="HelveticaNeue-CondensedBold" fill="#60497b">
        enrichment
      </text>
      <text uib-tooltip-html="::$root.strings.landing_main_gene_trait_asso" tooltip-append-to-body="true" font-size="11"
        x="-50" y="220" transform="matrix(.70655 -.70757 .71794 .69635 0 0)" font-family="HelveticaNeue-CondensedBold" fill="#717171">
        association
      </text>
      <text uib-tooltip-html="::$root.strings.landing_main_gene_cell_asso" tooltip-append-to-body="true"
        transform="matrix(.69255 .72128 -.7113 .70313 0 0)" y="-123" x="325" font-size="11" font-family="HelveticaNeue-CondensedBold" fill="#717171">
        association
      </text>

    <!-- /symbol>
    <use xlink:href="#home"/ -->
  </svg>
</div>

<div class="jumbotron col-xs-12 small text-center lead">
  <h3>Assembly and Annotations</h3>
  FANTOM CAT (CAGE Associated Transcriptome) is a human transcriptome meta-assembly based on association of CAGE (Cap Analysis of Gene Expression) data and transcript models from diverse sources. In FANTOM CAT, gene models are robustly supported by transcription initiation evidences and represents the most 5’completed human transcriptome to date. These genes are comprehensively annotated into categories based on their genomic and epigenomic features, including 27,919 high-confidence long non-coding RNA (lncRNA) genes.

  <h3>Expression, Genome-Wide Associations and Functional Implications</h3>
  In FANTOM CAT, every gene is linked to expression profiles from 1,829 diverse samples. Based on the expression profiles and genome-wide association studies, FANTOM CAT genes are defined to be associated with specific types of cell (as sample ontologies) and traits respectively. By intersecting their cell-type specificity and trait associations, we identified the genes that are associated with specific traits and expressed in the relevant cell-types, and these included 1,970 lncRNA genes.

  <h3>Browse, View, Filter, Intersect and Download</h3>
  This web application allows users to browse FANTOM CAT genes, view their genomic loci through ZENBU, filter by their annotations, intersect them with their associated sample ontologies or traits, and download the relevant data. Alternatively, users can also browse by trait or sample ontologies, and intersect with their associated genes. Click on the circles below and start browsing.
</div>
